.popup__close {
  background-image: url(../../../images/Close\ Icon.svg);
  background-repeat: no-repeat;
  background-color: #000000;
  background-size: cover;
  border: none;
  width: 32px;
  height: 32px;
  position: absolute;
  top: -39px;
  right: -38px;
  cursor: pointer;
  color: #ffffff;
  transition: opacity 0.3s ease;
}

.popup__close:hover {
  opacity: 0.6;
}

@media (max-width: 560px) {
  .popup__close {
    width: 20px;
    height: 20px;
    right: 0;
  }
}
